.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-quarter {
  margin: 0px 5px;
}
button {
  padding: 15px 45px;
  font-size: large;
  border-radius: 15px;
  border-bottom-width: 5px;
}
.fa-play {
  margin-right: 10px;
}
